$success-green : #00B463;
.provider-edit        {
  .icon               {position: absolute; top:-25px; left:-25px; width:70px; height:70px; background: white; padding:15px; border-radius: 50%;
    #digital-ocean    {margin-top:0px; margin-right:-6px; }
    #aws              {margin-top:4px; margin-right:-8px; margin-left:-5px; }
  }
  .vals               {
    .val              {
      #regions        {flex-grow:2;
        .lexi-ui      {width:100%;}
      }
    }
  }
  #test-endpoint {background: #128FD6; color:white;
    &:hover      {background: #0073B5;  }
  }
  .provider-specific{
    .obfuscate{flex-grow:2;
      input{width:100%}
    }
  }
  @import "advanced";
}
