.item.key-val-pair
  input.key(value="#{key}" data-key="#{key}-key" placeholder="key")
  input.val(value="#{val}" data-key="#{key}-val" placeholder="val")
  .delete
    img.shadow-icon(data-src="close-x" scalable="true")
