.val
  .label Default Region
  #regions
each field in provider.authFields
  .val
    .label= field.label
    .obfuscate.white.right
      input.auth-field(value="#{field.val}" data-key="#{field.key}")
